.welcome-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .welcome-LiveTv-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .welcome-LiveTv-button {
    height: 100px;
    line-height: 100px;
    width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
  }

  .welcome-logo {
    height: 255px;
    width: 250px;
    border: 2px solid #9aa2ae;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
  }

  svg {
    height: auto;
    width: 100%;
  }

  span {
    font: 400 20px/1.5em avenirnext, sans-serif;
    color: #fafaf9;
  }
}
