.gn-tv {
  font-family: Arial, Helvetica, sans-serif;

  .gn-tv-guide {
    display: flex;
    height: 28vh;
    overflow-y: scroll;
    background-color: #808080;

    .gn-episode_list {
      flex: 2;
    }

    .gn-channel_list {
      margin-right: 5px;
      flex: 1;
    }
  }


  @media (max-width: 720px) {
    .gn-player-video {
      height: 30vh;
    }

    .gn-tv-guide {
      height: 60vh;

      .gn-episode_list {
        flex: 1;
      }
    }
  }

  @media (max-width: 720px) and (orientation: landscape) {
    .gn-player-video {
      height: 100vh;
    }

    .gn-tv-guide,
    .gn-nav {
      display: none;
    }
  }

  @media (max-width: 361px) {
    .gn-tv-guide {
      height: 59vh;
    }
  }

  @media (max-width: 321px) {
    .gn-tv-guide {
      height: 57vh;
    }
  }
}
