@import url("https://fonts.googleapis.com/css?family=Lucida:200,400,400i,700&display=swap");

.gn-channel_rating {
  padding-top: 4px;

  .gn-channel_rating-text {
    position: relative;
    color: white;
    cursor: pointer;
  }

  .gn-channel_rating-container {
    position: absolute;
    display: none;
    background-color: black;
    padding: 10px;
    z-index: 1;
    width: 75px;

    h4 {
      font: 400 21px Lucida, sans-serif;
      text-align: center;
      color: white;
    }
    p {
      font: 400 18px Lucida, sans-serif;
      color: white;
      text-align: center;
    }
  }

  .gn-channel_rating-block {
    color: white;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #1777a3;
    }
  }

  .gn-channel_rating-container-open {
    display: block;
  }

  svg {
    height: 80px;
    width: auto;
    color: #1777a3;
  }

  @media (max-width: 720px) {
    svg {
      height: 50px;
    }
  }
}
