.gn-shopping_cart_modal {
  padding-top: 4px;

  &.gn-shopping_cart_modal-full {
    svg {
      color: #85bb65;
    }
  }

  svg {
    color: white;
  }
}

.gn-shopping_cart_modal-overlay {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  .gn-shopping_cart_modal-container {
    flex: 0 1 700px;
    background-color: white;
    border-radius: 10px;
  }

  .gn-shopping_cart_modal-products {
    .gn-product-price {
      margin-left: 8px;
      color: #4e78a0;
    }

    .gn-product-link {
      color: #1b4861;
    }

    p {
      display: inline;
    }
  }
}
