.gn-player_grid {
  position: absolute;
  height: 64vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .gn-player_grid-block {
    flex: 1 1 130px;
    border: 0.5px solid yellow;
  }

  .gn-player_grid-interactive {
    background-color: red;
    :hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 720px) {
    height: 30vh;
    flex-direction: column;

    .gn-player_grid-block {
      flex: 1 1 20px;
    }
  }
}
