.timeline {
  background-color: #7992a3;
  color: #eff4f5;
  font-weight: bold;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  .range {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
