@import url("https://fonts.googleapis.com/css?family=Lucida:200,400,400i,700&display=swap");

body {
  margin: 0;
}

.gn-reset_password {
  .gn-reset_password-link {
    color: #1777a3;
    display: inline-block;
    margin-left: 4px;
  }

  .gn-reset_password-error {
    color: yellow;
    margin: 25px 0;
  }

  h2 {
    color: white;
    font: 400 60px Lucida, sans-serif;
    margin: 0 auto 40px;
    text-align: center;
  }

  p {
    color: white;
    font: 400 28px Lucida, sans-serif;
    margin: 0 auto 20px;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  button {
    display: block;
    border-radius: 8px;
    height: 58px;
    width: 298px;
    margin: 30px auto 0;
    background-color: #1777a3;
    border: 1px solid #1777a3;
    font: 400 21px Lucida, sans-serif;
    color: white;
  }

  img {
    height: 50px;
    width: auto;
  }

  .gn-formik_form-reset-password {
    max-width: 989px;
    padding: 30px 50px;
    margin: 0 auto 60px;
  }

  .MuiFormHelperText-root {
    color: white;
    font: 400 18px Lucida, sans-serif;
  }

  .MuiAppBar-colorPrimary {
    background-color: black;
  }

  @media (max-width: 720px) {
    .gn-formik_form-signin {
      width: 275px;
      padding: 15px 20px;
      margin: 30px auto;
    }

    .gn-reset_password-link {
      height: 40px;
      line-height: 40px;
      width: 200px;
      margin-bottom: 25px;
    }

    h1 {
      margin-top: 30px;
    }
  }
}
