.gn-info_box {
  display: flex;
  height: 100%;
  background-color: rgba(0, 145, 255, 0.29);
  padding: 10px;
  border-radius: 8px;
  border: solid 3px rgba(0, 0, 0, 0.1);
  width: 200px;
  flex-direction: column;
  position: sticky;
  top: 0;

  .gn-info_box-channel_info {
    text-align: center;
    color: white;
  }

  > span {
    color: white;
    padding: 10px 5px;
  }

  img {
    width: 150px;
    margin: 0 auto;
  }

  @media (max-width: 720px) {
    display: none;
  }
}
