html {
  background-color: #4e78a0;
}

.gn-player {
  background-color: #4e78a0;
  border-bottom: 2px solid black;

  // For shopping cart items
  .gn-player-clickable {
    height: 1px;
    width: 1px;
    margin: 0 auto;
    position: relative;
  }

  .gn-player-product-one {
    height: 45px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: -175px;
    cursor: pointer;
  }

  .gn-player-product-two {
    height: 60px;
    width: 138px;
    position: absolute;
    top: 340px;
    left: -100px;
    cursor: pointer;
  }

  .gn-player-product-three {
    height: 50px;
    width: 400px;
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
  }

  .gn-player-video {
    pointer-events: none;
  }

  .gn-player-video-iframe {
    pointer-events: none;
    height: 64vh;
    background-color: black;

    iframe {
      width: 63.75%;
      height: 100%;
      display: block;
      margin: auto;
      border: 0;
    }
  }

  .gn-player-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    button {
      line-height: 20px;
      font-size: small;
      padding: 0px 5px;
      color: blanchedalmond;
    }

    input {
      margin-top: 4px;
    }
  }

  .gn-player-volume {
    padding-top: 6px;
  }

  .react-player {
    height: 64vh !important;
  }

  @media screen and (max-width: 720px) {
    padding: 0;
    .react-player {
      height: 30vh !important;
    }

    .gn-player-video-iframe {
      height: 30vh;

      iframe {
        width: 94%;
      }
    }

    .gn-player-controls {
      button {
        height: 35px;
      }

      label {
        line-height: 35px;
      }
    }
  }

  @media (max-width: 321px) {
    .gn-player-volume {
      display: none;
    }
  }
}
