html {
  background-color: #4e78a0;
}

.gn-player {
  background-color: #4e78a0;
  border-bottom: 2px solid black;

  .gn-player-video {
    pointer-events: none;
  }

  .gn-player-controls {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    button {
      line-height: 20px;
      font-size: small;
      padding: 0px 5px;
      color: blanchedalmond;
    }

    input {
      margin-top: 4px;
    }
  }

  .gn-player-volume {
    padding-top: 6px;
  }

  .react-player {
    height: 64vh !important;
  }

  @media screen and (max-width: 720px) {
    padding: 0;
    .react-player {
      height: 30vh !important;
    }

    .gn-player-controls {
      button {
        height: 35px;
      }

      label {
        line-height: 35px;
      }
    }
  }
}
