@import url("https://fonts.googleapis.com/css?family=Lucida:200,400,400i,700&display=swap");

body {
  margin: 0;
}

.gn-create_account {
  height: 100vh;

  button {
    border-radius: 8px;
    height: 58px;
    width: 298px;
    margin: 30px 0 0;
    background-color: #1777a3;
    border: 1px solid #1777a3;
    font: 400 21px Lucida, sans-serif;
    color: white;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .gn-sign_up-error {
    color: red;
    margin: 25px 0;
    text-align: center;
  }

  .gn-create_account-sign_in-button {
    border-radius: 8px;
    height: 58px;
    width: 298px;
    margin: 30px auto 0;
    background-color: #1777a3;
    border: 1px solid #1777a3;
    font: 400 21px Lucida, sans-serif;
    color: white;
    text-align: center;
    display: block;
    line-height: 58px;
  }

  .gn-create_account-password {
    position: relative;
  }

  img {
    height: 50px;
    width: auto;
  }

  h1 {
    text-align: center;
    color: white;
    font: 400 48px Lucida, sans-serif;
  }

  p {
    text-align: center;
    font-size: large;
  }

  .gn-sign_up-buttons {
    display: flex;
    justify-content: space-around;
  }

  .gn-formik_form-signup {
    max-width: 989px;
    padding: 0 50px 30px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
  }

  .MuiFormHelperText-root {
    color: white;
    font: 400 18px Lucida, sans-serif;
  }

  .gn-formik_form_terms {
    color: white;
    font: 400 28px Lucida, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      height: 35px;
      width: 35px;
      margin-right: 8px;
    }
  }

  .MuiAppBar-colorPrimary {
    background-color: black;
  }

  @media (max-width: 720px) {
    .gn-formik_form-signup {
      width: 275px;
      height: auto;
      padding: 15px 20px;
      margin: 30px auto;
    }

    .gn-create_account-sign_in-button {
      margin: 30px auto;
    }

    button {
      margin: auto;
    }

    p {
      font-size: medium;
    }
  }
}
