.myAccount-container {
  background-color: #4e78a0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .myAccount-avatar {
    height: 200px;
    line-height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
  }

  .myAccount-content {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  span {
    font: 400 30px/1em avenirnext, sans-serif;
    color: #deb887;
  }

  p {
    font: 400 20px/1em avenirnext, sans-serif;
    color: #deb887;
  }

  .back-button {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}
